* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    /* column-gap: 100px; */
    height: 700px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 50px;
}

#display {
    position: relative;
    margin-top: 20px;
    height: 200px;
    width: 370px;
    background-color: #969492;
    border-radius: 50px;
    display: flex;
    align-items: last baseline;
    justify-content: end;
    flex-direction: column;
}

#text_display {
    width: 350px;
    font-size: 40px;
    font-weight: 600;
    padding-right: 20px;
    padding-bottom: 30px;
<<<<<<< HEAD
    padding-left: 20px;
    overflow-x: scroll;

=======
    overflow-y: scroll;
>>>>>>> 0ef80124b8f485e39f78d3e935b1b01c90d72c62
}
#answer_display{
    width: 350px;
    font-size: 40px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    overflow-x: scroll;
    /* display: none; */
    font-weight: 600;
}
#ans_display::-webkit-scrollbar { display: none;}
#text_display::-webkit-scrollbar { display: none;}

#button {
    background-color: rgb(249, 175, 135);
    height: 450px;
    width: 370px;
    padding: 3px;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

button {
    border: none;
    height: 89px;
    width: 89px;
    border-radius: 50px;
    background-color: rgb(249, 175, 135);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    box-shadow: inset 4px 4px 12px rgb(251, 157, 107),
        inset -4px -4px 12px rgb(244, 140, 83);
    color: white;
    transition: all 0.3s ease-in;


}

button:active {
    color: #666;
    box-shadow: inset 10px 10px 19px rgb(251, 193, 107),
        inset -10px -10px 19px rgb(251, 193, 107);
        color: black;
    font-size: 25px;
}
<<<<<<< HEAD

=======
>>>>>>> 0ef80124b8f485e39f78d3e935b1b01c90d72c62
